/.idea
/target
*.properties
/.vscode


/report/*.aux
/report/*.bit
/report/*.blg
/report/*.bbl
/report/*.lof
/report/*.log
/report/*.lot
/report/*.glo
/report/*.glx
/report/*.gxg
/report/*.gxs
/report/*.idx
/report/*.ilg
/report/*.ind
/report/*.out
/report/*.url
/report/*.svn
/report/*.toc
/report/*.fdb_latexmk
/report/*.fls
/report/*.synctex.gz
/report/*.synctex*